@charset "UTF-8";
@font-face { font-family: 'Noto Sans'; font-weight: 400; font-style: normal; src: url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot"); src: url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix") format("embedded-opentype"), local("Noto Sans"), local("Noto-Sans-regular"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2") format("woff2"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff") format("woff"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf") format("truetype"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans") format("svg"); }
@font-face { font-family: 'Noto Sans'; font-weight: 700; font-style: normal; src: url("../fonts/Noto-Sans-700/Noto-Sans-700.eot"); src: url("../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix") format("embedded-opentype"), local("Noto Sans Bold"), local("Noto-Sans-700"), url("../fonts/Noto-Sans-700/Noto-Sans-700.woff2") format("woff2"), url("../fonts/Noto-Sans-700/Noto-Sans-700.woff") format("woff"), url("../fonts/Noto-Sans-700/Noto-Sans-700.ttf") format("truetype"), url("../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans") format("svg"); }
@font-face { font-family: 'Noto Sans'; font-weight: 400; font-style: italic; src: url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot"); src: url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix") format("embedded-opentype"), local("Noto Sans Italic"), local("Noto-Sans-italic"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2") format("woff2"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff") format("woff"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf") format("truetype"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans") format("svg"); }
@font-face { font-family: 'Noto Sans'; font-weight: 700; font-style: italic; src: url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot"); src: url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix") format("embedded-opentype"), local("Noto Sans Bold Italic"), local("Noto-Sans-700italic"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2") format("woff2"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff") format("woff"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf") format("truetype"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans") format("svg"); }
.highlight table td { padding: 5px; }

.highlight table pre { margin: 0; }

.highlight .cm { color: #999988; font-style: italic; }

.highlight .cp { color: #999999; font-weight: bold; }

.highlight .c1 { color: #999988; font-style: italic; }

.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }

.highlight .c, .highlight .cd { color: #999988; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .gd { color: #000000; background-color: #ffdddd; }

.highlight .ge { color: #000000; font-style: italic; }

.highlight .gr { color: #aa0000; }

.highlight .gh { color: #999999; }

.highlight .gi { color: #000000; background-color: #ddffdd; }

.highlight .go { color: #888888; }

.highlight .gp { color: #555555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaaaaa; }

.highlight .gt { color: #aa0000; }

.highlight .kc { color: #000000; font-weight: bold; }

.highlight .kd { color: #000000; font-weight: bold; }

.highlight .kn { color: #000000; font-weight: bold; }

.highlight .kp { color: #000000; font-weight: bold; }

.highlight .kr { color: #000000; font-weight: bold; }

.highlight .kt { color: #445588; font-weight: bold; }

.highlight .k, .highlight .kv { color: #000000; font-weight: bold; }

.highlight .mf { color: #009999; }

.highlight .mh { color: #009999; }

.highlight .il { color: #009999; }

.highlight .mi { color: #009999; }

.highlight .mo { color: #009999; }

.highlight .m, .highlight .mb, .highlight .mx { color: #009999; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .bp { color: #999999; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #445588; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .nd { color: #3c5d5d; font-weight: bold; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #990000; font-weight: bold; }

.highlight .nf { color: #990000; font-weight: bold; }

.highlight .nl { color: #990000; font-weight: bold; }

.highlight .nn { color: #555555; }

.highlight .nt { color: #000080; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .nv { color: #008080; }

.highlight .ow { color: #000000; font-weight: bold; }

.highlight .o { color: #000000; font-weight: bold; }

.highlight .w { color: #bbbbbb; }

.highlight { background-color: #f8f8f8; }

body { background-color: #fff; padding: 50px; font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #24292e; font-weight: 400; }

h1, h2, h3, h4, h5, h6 { color: #222; margin: 0 0 20px; text-align: left; }

p, ul, ol, table, pre, dl { margin: 0 0 20px; }

h1, h2, h3 { line-height: 1.1; }

h1 { font-size: 28px; color: #d60000; }

h2 { color: #393939; padding-top: 40px; }

h3, h4, h5, h6 { color: #494949; }

a { color: #267CB9; text-decoration: none; }

a small { font-size: 11px; color: #777; margin-top: -0.3em; display: block; }

a:hover small { color: #777; }

.wrapper { max-width: 970px; width: auto; margin: 0 auto; }

blockquote { border-left: 1px solid #e5e5e5; margin: 0; padding: 0 0 0 20px; font-style: italic; }

code, pre { font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace; color: #333; }

pre { padding: 8px 15px; background: #f8f8f8; border-radius: 5px; border: 1px solid #e5e5e5; overflow-x: auto; }

table { width: 100%; border-collapse: collapse; display: block; overflow-x: auto; }

th, td { text-align: left; padding: 5px 10px; border: 1px solid #d4d4d4; }

dt { color: #444; font-weight: 700; }

th { color: #444; }

img { max-width: 100%; }

header { width: 270px; float: left; position: fixed; -webkit-font-smoothing: subpixel-antialiased; height: 100%; display: flex; flex-direction: column; top: 0; bottom: 0; padding: 10px 0; }

section { float: right; padding-bottom: 50px; }

small { font-size: 11px; }

hr { border: 0; background: #e5e5e5; height: 1px; margin: 0 0 20px; }

footer { width: 270px; float: left; position: fixed; bottom: 50px; -webkit-font-smoothing: subpixel-antialiased; }

@media print, screen and (max-width: 960px) { div.wrapper { width: auto; margin: 0; }
  header, section, footer { float: none; position: static; width: auto; }
  section { border: 1px solid #e5e5e5; border-width: 1px 0; padding: 20px 0; margin: 0 0 20px; }
  header > div { margin-right: unset !important; }
  header a small { display: inline; } }
@media print, screen and (max-width: 720px) { body { word-wrap: break-word; }
  header { padding: 0; }
  header ul, header p.view { position: static; }
  pre, code, li { word-wrap: break-word; word-break: break-all; } }
@media print, screen and (max-width: 480px) { body { padding: 0px; }
  /*  header ul { width:99%; }  header li, header ul li + li + li { width:33%; }*/ }
@media print { body { padding: 0.4in; font-size: 12pt; color: #444; } }
/*** Overall layout ***/
section { /* align-content: center; */ padding-left: 270px; float: none; }

@media print, screen and (max-width: 960px) { section { padding: 20px 0; } }
div { text-align: justify; }

/*** Links ***/
a { color: #0366d6; }

h1 a { color: unset; }

.navitem a { color: unset; }

/*** Navigation bar ***/
header > div { margin-right: 20px; }

header ul { list-style: none; display: block; padding: 0; }

header li { display: block; border: none !important; }

#navbar { max-width: 250px; flex: 1; overflow: auto; margin: 0; }

.navgroup { background: #cbcbcb; margin-top: 20px; }

.navgroup:first-child { margin-top: 0px; }

#navbar ul { background-color: rgba(255, 255, 255, 0.87); margin: 0; }

.navheader { margin: 0px; padding-left: 5px; display: block; color: #000; font-weight: bold; }

.navitem { font-size: 12px; font-weight: bold; color: #676767; display: flex; text-align: left; padding: 0px 5px; margin: 0px; height: 37px; line-height: 37px; }

.navitem a { display: block; width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.levelbar { float: inline-start; margin-left: 8px; margin-right: 5px; border-left: 1px solid rgba(0, 0, 0, 0.3); width: 1px !important; }

.currentitem { color: #d60000; }

/*** Navbar Hover ***/
.navitem:hover, .navitem:focus { color: #d60000; }

/*** Keyboard symbols ***/
kbd { display: inline-block; padding: 3px 5px; font-size: 11px; line-height: 10px; color: #444d56; vertical-align: middle; background-color: #fafbfc; border: solid 1px #c6cbd1; border-bottom-color: #959da5; border-radius: 3px; box-shadow: inset 0 -1px 0 #959da5; }

p + details { margin-top: -14px; }

/*** Expandable details box ***/
details { margin-bottom: 5px; border: 1px solid #eee; border-left-width: 5px; border-radius: 5px; border-left-color: #5bc0de; }

details summary { padding-left: 8px; cursor: pointer; }

details > div { padding-top: 5px; padding-left: 8px; padding-right: 8px; padding-bottom: 8px; }

details > div > p:last-child { margin-bottom: 0px; }

/*** Alert box ***/
.alert { padding: 10px; margin-bottom: 15px; color: black; border: 1px solid #eee; border-left-width: 5px; border-radius: 5px; border-left-color: #f0ad4e; }

.note { padding: 10px; margin-bottom: 15px; color: black; border: 1px solid #eee; border-left-width: 5px; border-radius: 5px; border-left-color: #5bc0de; }

/*** edit/download link ***/
.pageactions { float: right; font-size: 12px; }

.pageactions > div { text-align: right; }

/*** inline code ***/
:not(pre) > code { background-color: #ededed; word-break: break-all; }

/*** table ***/
table th { background-color: #cbcbcb; color: #000; border: 1px solid rgba(0, 0, 0, 0.219); }

table tr:nth-child(2n) { background-color: #f8f8f8; }

.expandable-list { height: 100%; margin: 0px; max-height: 0; overflow: hidden; -webkit-transition: max-height .5s ease-in-out; transition: max-height .5s ease-in-out; }

#navbar input[type=checkbox]:checked ~ .expandable-list { /* reset the height when checkbox is checked */ max-height: 1000px; }

.chevron:before { text-align: left; content: "ã€‰"; }

.chevron { float: left; -webkit-transition: -webkit-transform .5s ease; transition: transform .5s ease; transform-origin: 40% 50%; padding-left: 5px; padding-right: 5px; }

#navbar input[type=checkbox]:checked ~ p .chevron { /* rotate down when checkbox is checked */ -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
